  <div style="background-color:darkslategrey;">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <i style="color:white;font-size:lar;"class="fa fa-address-book" aria-hidden="true">Contact</i><br>
        
        <a style="color: white;">+91 8532012549</a><br>
        <a style="color: white;">+91 8685421985</a>
        
        
      </div>
      <div class="col-xl-4">
  <h5 style="color: skyblue;">Around<span style="color:white;"> Social  Media</span></h5> 
  <a href="https://www.linkedin.com/in/ankita-thakur-4a351b1a5/"><i  style="color:white" class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/profile.php?id=100009351598774"><i style="color:white; padding-left:10px;"class="fa fa-facebook-square" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/ankitaradhathakur/"><i style="color:white; padding-left:10px;" class="fa fa-instagram" aria-hidden="true"></i></a>
  <i style="color:white; padding-left:10px;" class="fa fa-youtube" aria-hidden="true"></i>
  <i style="color:white; padding-left:10px;"class="fa fa-twitter" aria-hidden="true"></i>
  
     
        
         
  
          </div>
      <div class="col-xl-4">
        <h4 style="color:white">Location</h4>
        <p style="color: white;">GB Nagar<br>
        Greater Noida,UP 283203</p>
        
      </div>
      
    </div>
    <div  ><p style="color: white;padding-left: 400px;">Copyright ©&nbsp;2020 | Portfolio</p></div>
    
  </div>
  </div>
  