<div style="background-color:darkslategrey;">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 style="color: white;">Contact</h2>
          <i class="fa fa-phone" style="color: white;">+91-8532025156</i> <br>
          <i class="fa fa-phone" style="color: white;">+91-9865412378</i>
          <h2></h2>
        </div>
        <div class="col-xl-4">
          <h2>social<span style="color:white;">Media</span></h2>
          <i class="fa fa-twitter"  style="color: white;">twitter</i>
          <i class="fa fa-facebook"  style="color: white;">facebook</i>
          <i class="fa fa-instagram"  style="color: white;">instagram</i>
          <i class="fa fa-youtube"  style="color: white;">youtube</i>
        </div>
        <div class="col-xl-4">
          <h2>Important<span style="color:white">Links</span></h2>
          
        </div>
      </div>
    </div>
    </div>
