<div>
    <h3 style="text-align: left;padding-left: 200px;">1.Finding the Perfect style</h3></div>
       <div   class="container">
        <div   class="row">
          <div  class="col-xl-6 col-md-8">
           
        Each of our design processes starts with a mood board. It helps us define 
        the perfect style, colors, and fonts for the projects we work on. Planet 
        Castor’s order was assigned to our custom designer Kate. The owners of 
        Planet Castor sent her their logo files and described to her their vision.
         They wanted their site to be simple, modern, and if possible, with a 
         dark-colored background. They wanted the graphics to feature planets, 
         stars, and anything else related to cosmos and space.
        Planet Castor’s teaching materials refer to school subjects as “planets,” 
        so, for example, science is called “planet science” or math is called 
        “planet math” etc. Planets are an integral piece of their branding so 
        it was important that they were included in their mood board.
        Since the client didn’t yet have a clear vision of what they were wanting, 
        Kate decided to come with three different mood board options. It helps 
        to have a few options which can then be mixed, matched, and altered 
        until we find something that fully resonates with the client.</div>
        <div  class="col-xl-6 col-md-8">
            <img src="../assets/img.png" width="90%" height="65%">



        </div>
    </div>

    </div>
    <div class="row">
        <div class="col-xl-3">
        
<img  style="margin-left: 150px;"src="../assets/i.png" width="80%" height="100%"></div>
<div class="col-xl-3">
<img style="margin-left: 150px;" src="../assets/m.png" width="80%" height="100%"></div>
<div class="col-xl-3">
<img style="margin-left: 150px;" src="../assets/g.png" width="80%" height="100%"></div>



    
    <div style="padding-top: 30px;" class="container">Even though Mood Board #2 was originally a little busy, it won in the end with a few small adjustments. 
        The final mood board version looked like this:
        
        </div><br>
        <div>
        <img style="padding-left: 400px; padding-top: 30px;"  src="../assets/m.png">
    </div>

   <div>
    <h3 style="text-align: left;padding-left: 220px;padding-top: 30px;">CREATING THE WEBSITE DESIGN</h3></div>
    <div style="padding-bottom: 30px;"  class="container">
        <div   class="row">
          <div  class="col-xl-6 col-md-8">
           
As mentioned in the beginning, this site was very different from other projects.
 Not too long ago we created a site for Ashleigh who also sells teaching supplies. 
 Even though both sites have the same purpose, they looked totally different from each other.
  We love creating entirely unique and one-of-a-kind designs for all of our clients.
We encourage you to visit Planet Castor’s website and browse through their custom category 
pages for free teaching resources.
</div>
<div  class="col-xl-6 col-md-8">
    We love creating entirely unique and one-of-a-kind designs for all of our clients.
    We encourage you to visit Planet Castor’s website and browse through their custom category 
    pages for free teaching resources.
</div>
</div>
</div>

