


  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/abcde.png" alt="First slide" height="500px" width="60%">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/abc.jpg" alt="Second slide" height="500px" width="60%">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/abcd.jpg" alt="Third slide" height="500px" width="60%">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <div><h1 style="text-align: center;font-size:50px;color: teal;">What is  <span style="color:gray">Portfolio?</span></h1>
  <div   class="container">
    <div   class="row">
      <div  class="col-xl-5 col-md-8">
        Portfolios come in all shapes and sizes — and this is their greatest quality. 
        It’s impossible to design a formula to explain why certain portfolios just “click”,
         but there are still concrete guidelines which you can follow — that way, 
         your portfolio will provide optimal browsing experience.
         The first impression is extremely important — and your overall visual design, 
         user interface, and user experience are all tasked with creating a good one. 
         Even though it’s tempting to leave “all the good stuff” to your real-world projects 
         and let recruiters judge you by those, remember: a portfolio website with unpleasant
          design can prevent your users from ever accessing your works. 
          They say a picture is worth a thousand words — and a picture showing you 
          the horrors of bad design is even more powerful.
         
  
  
      </div>
      <div   class="col-xl-5 col-md-8">
        On your portfolio website, you should… showcase your projects. 
        That’s it, the presentation’s over. Thank you for your attention!
       In all seriousness, though, you should focus on the way your projects 
       are presented. The goal of this section is to provide easy access to 
       your projects, so how can you do that?
      1.When possible, link to both the live demo and the source code — 
      snapshots aren’t enough. For abetter visibility, indicate the project’s 
      mobile version via placing a phone icon.
      2.Production-level applications will be the highlight of your portfolio —
       these are the best testament to your skills. Of course, it’s not always 
       possible to show these offs (e.g. because the code source is closed or you don’t
        have any projects of such scale), so feel free to list some personal projects.
        <p style="color: white;">--</p>
        <a   href="https://creativemarket.com/blog/10-inspiring-designer-websites"><button  style="text-align: center;padding-left: 20px;"  type="button" class="btn btn-primary">LEARN MORE</button></a>
          <p style="color: white;">--</p>
      </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
  <img style="padding-left: 80px;"     src="../assets/download (1).jpg">
    </div>
    <div class="col-xl-3">
      <img style="padding-left: 50px;" src="../assets/download (2).jpg">
      
    </div>
    <div class="col-xl-3">
      <img  style="padding-left: 40px" src="../assets/download (3).jpg">
      
    </div>
    <div class="col-xl-3">
      <img style="padding-left: 40px" src="../assets/download (4).jpg">
      
    </div>
    </div>
   
  
  
  
  
  
  
  
  
