<div><h1 style="text-align: center;font-size:50px;color: teal;font-style: oblique;"><u>About    <span style="color:gray">us</span></u></h1>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-8">
            <p style="font-size: 40px;font-style: italic;margin-top: 50px;">At Portfolio,we believe in
              <br> the power of open source<br> to change the world.</p>
              <p style="color: seagreen;font-size: 25px;margin-top: 80px;margin-bottom: 100px;">  Portfolio was created alongside Angular to help it reach a wider market.Our
                services help governments and businesses the world over with migrations,
                management and suupport for their Angular deployments.Together with our
                partners,we ensure that Angular runs reliably on every platform from the PC
                and the smartphone to the server and ,crucially the cloud. </p>
    
        </div>
        <div class="col-xl-6 col-md-8">
         <img src="../assets/cd.png" height="100%" width="100%">   

</div>
          </div>
          
         
                
                
                <div class="container">
                  <div style="background-color:grey">
                  <div class="row">
                    <div style="color: white;padding-left: 60px;" class="col-xl-4">
                      
                      <p style="font-size: 40px;font-style: italic;margin-top: 10px;">What we do</p>
                      <i style="padding-left: 80px;" class="fa fa-chrome" aria-hidden="true"></i>
                      <p>we work with our hardware <br>
                        partners to make Angular <br>available pre=installed on PCs <br>in 
                        more than 3,000 retailers<br> around the world.
                      </p>
                    </div>
                    <div style="color: white;padding-left:55px" class="col-xl-4">
                      <i style="padding-top: 88px;" class="fa fa-star" aria-hidden="true"></i>
                      <p>We certify hundreds of PCs and<br>
                      servers from OEMs including<br>
                    Dell.HP and lenovo,for use in<br>
                  the cosumer and <br>commercial services</p>
                    </div>
                    <div style="color: white;padding-left: 40px" class="col-xl-4">
                      <i style="padding-top: 88px;" class="fa fa-cloud" aria-hidden="true"></i>
                     <p>We make Angular avilable on<br>
                    the world's most popular<br>public cloud's,including<br>
                  Amazon web series,<br>Microsoft Azure,Google cloud<br>
                Platform and oracle cloud</p>
                    </div>
                    <div class="col-xl-4"></div>
                  </div>
                </div>
                </div>
                
              
              















