<div style="padding-left: 530px;margin-top: 90px;margin-bottom: 90px" class="col-lg-7">
<form  class="forgotbox ng-valid ng-dirty ng-touched" novalidate="">
<h4 >Login</h4><h6  class="textAlign">Email address</h6>
<div  class="form-group">
 <input aria-describedby="emailHelp" class="form-control inputStyle ng-valid ng-dirty ng-touched" id="email" 
    name="email" placeholder="Email Address" type="email">
        </div>
    <h6  class="textAlign">Password</h6>
        <div  class="form-group">
<input class="form-control inputStyle ng-valid ng-dirty ng-touched" id="password" name="password" placeholder="Password" type="password">
        </div>
    <div  class="form-group form-check">
        <a  class="forgotText" routerlink="/forgotPass" href="/forgotPass">Forgot password</a>
    </div>
    <div  class="form-group form-check">
        <div  class="row row1">
            <div  class="col-1"></div>
            
            <div  class="col-1 col1 form-check">
    <input _ngcontent-dkd-c1="" class="form-check-input ng-untouched ng-pristine ng-valid" id="exampleRadios1" name="user" type="radio">
    <label  class="form-check-label" for="exampleRadios1">Student</label></div>
    <div  class="col-2 offset-3 form-check">
        <input _ngcontent-dkd-c1="" class="form-check-input ng-untouched ng-pristine ng-valid" id="exampleRadios2" name="user" type="radio">
        <label  class="form-check-label" for="exampleRadios2">Company</label></div>
        <div class="col-1">

        </div>
    </div>
</div>
<div  class="form-group">
    <button _ngcontent-dkd-c1="" class="btn btnclr col-10" type="submit">Login</button>
</div>
<hr >
<div  class="form-group form-check pt-1 text-center">
    <a  class="registerAccount forgotText" routerlink="/userregister" href="/userregister">Register new account</a>
</div></form>
</div>




